* {
  margin: 0;
}
.moto {
  margin: 50px;
  padding: 50px;
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 40px;
}

.sec3 {
  font-size: 80px;
  padding-left: 300px;
  text-transform: uppercase;
  color: rgb(231, 231, 231);
}

.timeline {
  text-align: center;
  margin: 10%;
}

.brief {
  background-color: rgb(241, 241, 241);
  text-align: start;
  line-height: 30px;
  font-family: "Abel", sans-serif;
  padding: 10px;
  border-top: 1px solid rgb(107, 107, 107);
}
.tlyear {
  padding-left: 10px;
  font-family: "Abel", sans-serif;
  border-top: 1px solid rgb(107, 107, 107);
}

.yearlst,
.brieflst {
  border-bottom: 1px solid rgb(107, 107, 107);
}
table {
  border-collapse: collapse;
}
.sidehead {
  font-size: 30px;
}
.nutshellimg {
  margin-top: 50px;
}
.nutshead {
  text-align: center;
  line-height: 20px;
  font-family: "Abel", sans-serif;
  padding: 10px;
}
.nutsbrief {
  text-align: center;
  line-height: 20px;
  font-family: "Abel", sans-serif;
  padding: 10px;
  border-bottom: 1px solid rgb(107, 107, 107);
}
.footercon {
  background-color: rgb(192, 192, 192);
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  text-align: center;
  padding: 70px;
  margin: 0 125px;
}
a {
  color: blue;
  text-decoration: none;
}
